.version.index /* version checker */
{
	color: #000019;
	background-color: #231A84;
}

#page
{
	z-index: 1;
	min-height: 960px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 40px;
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#u781
{
	z-index: 2;
	min-height: 65px;
	padding-bottom: 35px;
}

#u781_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u790-4
{
	z-index: 4;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	width: 22.09%;
	left: 8.17%;
}

#u790-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 22.09%;
	margin: 36px -10000px 0px 0%;
}

#menuu842
{
	z-index: 8;
	width: 245px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 70.5%;
}

#u843
{
	width: 118px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u844
{
	width: 118px;
	border-width: 0px;
	background-color: transparent;
	padding-bottom: 17px;
	position: relative;
}

#u844.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u846-4
{
	width: 50px;
	min-height: 17px;
	border-width: 0px;
	background-color: transparent;
	color: #363636;
	letter-spacing: 2px;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 34px;
}

#u844:hover #u846-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u844.MuseMenuActive #u846-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u844:hover #u846-4 p
{
	color: #22B573;
	visibility: inherit;
}

#u888
{
	width: 125px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u891
{
	width: 125px;
	border-width: 0px;
	background-color: transparent;
	padding-bottom: 17px;
	position: relative;
}

#u891.MuseMenuActive
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u894-4
{
	width: 58px;
	min-height: 17px;
	border-width: 0px;
	background-color: transparent;
	color: #363636;
	letter-spacing: 2px;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 33px;
}

#u891:hover #u894-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u891.MuseMenuActive #u894-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u891:hover #u894-4 p
{
	color: #22B573;
	visibility: inherit;
}

#u844.MuseMenuActive #u846-4 p,#u891.MuseMenuActive #u894-4 p
{
	color: #363636;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u781-bw
{
	z-index: 2;
	min-height: 65px;
}

#u909
{
	z-index: 21;
	display: block;
	vertical-align: top;
	margin-top: 59px;
	position: relative;
	width: 83.67%;
	margin-left: 8.17%;
}

#u921
{
	z-index: 23;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 41%;
	left: 8.17%;
}

#u931
{
	z-index: 25;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 41%;
	left: 50.84%;
}

#pu921,#pu990
{
	margin-top: 20px;
	width: 100%;
}

#u990
{
	z-index: 33;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 41%;
	left: 8.17%;
}

#u961
{
	z-index: 29;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 41%;
	left: 50.84%;
}

#pu941
{
	margin-top: 19px;
	width: 100%;
}

#u941
{
	z-index: 27;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 41%;
	left: 8.17%;
}

#u971
{
	z-index: 31;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	width: 41%;
	left: 50.84%;
}

#u921_img,#u931_img,#u990_img,#u961_img,#u941_img,#u971_img
{
	width: 100%;
}

#u787
{
	z-index: 3;
	height: 60px;
}

#u787-bw
{
	z-index: 3;
	margin-top: -220px;
	margin-bottom: -60px;
	height: 60px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

