#u781
{
	background-color: #FAFAFA;
}

#u781_align_to_page
{
	max-width: 1200px;
}

#u790-4
{
	background-color: transparent;
	line-height: 24px;
	color: #606060;
	font-size: 20px;
	text-align: center;
	letter-spacing: 6px;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u790-4:hover p
{
	color: #93278F;
	visibility: inherit;
}

#u787
{
	background-color: #FFFFFF;
}


